<link href="https://fonts.googleapis.com/css2?family=Alkatra&family=EB+Garamond&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Miranda+Sans:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:wght@300&display=swap" rel="stylesheet">

  * {
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
}

/* General Body Styling */
body {
    font-family: "Montserrat", sans-serif;
    background-color: #a6f4f8; /* Soft pastel blue */
    padding: 20px;
}

/* Header Styling */
header {
    font-family: "Montserrat", sans-serif;
    margin: 5px;
    background-color: #a6f4f8;
    padding: 5px;
    border-bottom: 5px solid;
}

td {
    padding: 5px;
    margin: 10px;
}

#game_table {
    margin: 5px;
}

#game_th {
    margin: 5px;
    padding: 10px
}

#game_td {
    margin: 5px;
    padding: 10px;
}

.button {
    display: inline-block;
    text-decoration: none;
    background-color: beige;
    color: black;
    padding: 5px 10px;
}

.button:hover {
    background-color: blueviolet;
}